/* normalize css */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

html{height:100%}

body{line-height:1; font-family: Roboto, sans-serif}

ol,ul{list-style:none}

blockquote,q{quotes:none}

blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}

table{border-collapse:collapse;border-spacing:0}


@font-face {
    font-family: 'Roboto Black';
    src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/Robotoblack.woff2') format('woff2'), url('../fonts/Robotoblack.woff') format('woff'), url('../fonts/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 480px) {
    .login {
        width: 100% !important;
        margin: auto 0 !important;
    }
}

@media (max-height: 650px) {
    .close {
        top: 5px !important;
        right: 5px !important;
    }
}

@media (max-width: 500px) {
    .student__photo {
        visibility: hidden;
        display: none;
    }
    .student {
        flex-direction: column;
    }
    .student__name {
        margin-bottom: 10px;
    }
}

@media (max-width: 1200px) {
    .error__image img {
        width: 100%;
    }

    .error__image {
        position: static !important;
        display: flex;
        align-items: center;
    }

    .error__message {
        font-size: 24px !important;
    }
}

@media (max-width: 992px) {
    #load {
        background-size: 20% !important;
    }
}

@media (max-width: 767px) {
    #load {
        background-size: 30% !important;
    }
    .hello_text {
        font-size: 48px !important;
        word-break: break-word;
    }
    header h1 {
        font-size: 24px;
    }
    .auth_block .btn {
        padding: 15px !important;
        font-size: 14px !important;
        margin: 10px 0 0 10px !important;
    }
    .form_reg__footer {
        margin: 30px auto 0 !important;
    }
    .form_reg {
        margin: 0 !important;
        width: 100vw !important;
        padding: 50px 0 !important;
    }
    .flex_block {
        flex-direction: column !important;
    }
    .row {
        font-size: 12px !important;
    }
    .nav {
        width: 80vw !important;
        max-width: 100vw;
    }
    .nav__user {
        flex-direction: column !important;
    }
    .navName {
        margin: 10px 0 0 0 !important;
    }
    .navUser {
        visibility: hidden;
    }
    .studentFood {
        flex-direction: column;
    }
    .lunchBlock {
        margin-bottom: 15px;
    }
    .success_message {
        width: 80% !important;
    }
    .kickModalWindow__body {
        flex-direction: column;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif ;
}

body, html {
    overflow-x: hidden;
    height: 100%;
}

section {
    min-height: 100vh;
    padding: 50px 0;
    background-color: #e1f5cd;
}

header.header {
    background-color: #e1f5cd;
}

header.header h1 {
    text-align: center;
    font-family: "Roboto Black", sans-serif;
    padding: 40px;
    z-index: 1;
}

input[type='text'],
input[type='password'] {
    border: 1px solid #e2e8b6;
    outline: none;
    background-color: #e2e8b6;
    padding: 10px;
    display: block;
    border-radius: 1.2em;
    font-size: 18px;
}

hr {
    margin: 0 auto;
    height: 3px;
    background-color: #333;
    border: none;
}

#road {
    height: 100px;
}

.food {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 90%;
}

.table {
    perspective: 100vw;
    position: relative;
    bottom: 25px;
    z-index: 0;
}


.top {
    background: url("../images/road.png");
    height: 70px;
    width: 110vw;
    transform: rotateX(45deg) translateX(-5vw);
}

.btn {
    border: none;
    background-color: #63b8b8;
    cursor: pointer;
    padding: 30px;
    border-radius: 20px;
    color: white;
    outline: none;
    font-size: 18px;
}

.btn:hover {
    animation: btn_anim ease-out .3s;
}

.auth_block {
    display: block;
    text-align: center;
}

.auth_btn {
    background-color: #76b863;
    margin-right: 40px;
}

.valve {
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.wrap {
    text-align: center;
}

.valve::before, .valve::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #63b8b8;
    z-index: 0;
    top: 0;
    left: -100%;
    transition: 1s;
    opacity: .3;
    animation: logo_animate_before 1s ease;
    animation-fill-mode:forwards;
    animation-delay: .5s;
}

.valve::after {
    opacity: 1;
    animation-delay: 1.5s;
    left: 100%;
    background-image: url("../images/logo.png");
    background-size: 96px;
    background-repeat: no-repeat;
    background-color: #c8e7a1;
    background-position: center;
}

.small_hr {
    width: 20%;
}

.medium_hr {
    width: 50%;
}

.big_hr {
    width: 80%;
}

.hello_text h2 {
    font-size: inherit;
    animation: appearance ease-in-out 1s;
}

.hello_text {
    font-family: "Roboto Black", sans-serif;
    font-size: 72px;
    text-align: center;
    margin: 150px auto;
    font-weight: 400 !important;
}

.hello_text strong {
    opacity: 0;
    animation: appearance ease-in-out 1s;
    animation-fill-mode:forwards;
    animation-delay: 1s;
}

.registration {
    background-color: #e2e8b6;
    visibility: hidden;
    display: none;
}

.form_reg {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
}

.form_reg input[type='text'],
.form_reg input[type='password'] {
    margin: 10px 0;
    width: 100%;
}

.form_reg__header {
    padding: 15px;
    font-size: 32px;
    text-align: center;
}

.form_reg__body {
    padding: 50px;
}

.full_name {
    display: flex;
    justify-content: space-between;
}

.full_name input {
    flex-basis: 45%;
}

.form_reg__footer {
    text-align: center;
    margin: 30px auto 0;
    display: block;
}

.flex_block {
    display: flex;
    height: 100vh;
    flex-direction: row;
    text-align: center;
}

.card_section {
    flex-basis: 33.3%;
    height: 100%;
}

.card_section .btn {
    animation: none;
    border: 3px solid #63b8b8;
}

.card_section .btn {
    transition: .3s;
}

.card_section .btn:hover {
    transition: .3s;
    background-color: inherit;
    border: 3px solid #63b8b8;
}

.other {
    background-color: #9d56c1;
}

.lunch {
    background-color: #a66945;
}

.section_head {
    height: 20%;
    color: white;
    font-size: 24pt;
}

.section_body {
    height: 60%;
    font-size: 24pt;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section_body__image {
    width: 100%;
}

.section_body__image img {
    width: 40%
}

.section_body__text {
    transition: .3s;
    margin: 30px 0;
    color: white;
}

.section_footer {
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.breakfast {
    background-color: #719f43;
}

.modal_window {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70vw;
    height: 70vh;
    margin: auto;
    padding: 30px;
    text-align: center;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

.modal_window::-webkit-scrollbar-track {
    background-color: #719f43;
}

.modal_window::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #333;
}

.modal_window::-webkit-scrollbar {
    width: 5px;
}

.back {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.close  {
    background: url(../images/close.png) no-repeat center center;
    width: 32px;
    height: 32px;
    background-size: contain;
    cursor: pointer;
}

.modal_close {
    display: flex;
    justify-content: right;
}

.close:hover {
    opacity: .6;
}

#load {
    background: url(../images/load.gif) no-repeat center center;
    background-size: 10%;
    background-color: rgba(0, 0, 0, .4);
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 99;
}

.row {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 24px;
    word-break: normal;
}

.modal_head h2 {
    margin-bottom: 30px;
    font-size: 24pt;
    font-family: 'Roboto', sans-serif;
}

.menu_name, .menu_cost {
    flex-shrink: 0;
}

.demarcation img {
    width: 100%;
}

.demarcation180 img {
    transform: rotateZ(180deg);
    width: 100%;
}

.error_messages {
    margin: 30px 0 0;
    color: #ed7d7d;
    font-size: 24px;
}

select {
    width: 100px;
    height: 30px;
    outline: none;
    margin-left: 15%;
    font-size: 14pt;
    border: 1px solid black;
}

@keyframes show {
    0% {
        transform: translateX(-5vw);
    }
    100% {
        transform: translateX(105vw);
    }
}

@keyframes btn_anim {
    0% {
        transform: scaleX(1) scaleY(1);
    }
    50% {
        transform: scaleX(1.1) scaleY(1.1);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes logo_animate_before {
    0% {

    }
    100% {
        left: 0;
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes error_elem_anim {
    0% {
        border: 1px solid #e2e8b6;
    }

    50% {
        border: 1px solid rgb(237, 125, 125);
    }

    100% {
        border: 1px solid #e2e8b6;
    }
}

@keyframes error_elem_anim_from_black {
    0% {
        border: 1px solid black;
    }

    50% {
        border: 1px solid rgb(237, 125, 125);
    }

    100% {
        border: 1px solid black;
    }
}

.login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    width: 80vw;
    max-width: 896px;
    height: 320px;
}

.loginRegister {
    height: 600px;
}

.helptext {
    visibility: hidden;
    display: none;
}

.wrap_login {
    background-color: rgba(0, 0, 0, .3);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 100;
    display: none;
}

.login__choice {
    display: flex;
}

.login__choice div {
    flex-basis: 50%;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.login input {
    width: 100%;
    height: 50px;
    border-radius: 0;
    background-color: #c5c5c5;
    border: 2px solid #7eb14a;
    transition: .3s;
    outline: none;
    font-size: 18px;
    padding: 10px;
}

.login input:focus {
    transition: .3s;
    border: 2px #63b8b8 solid;
}

.code, .username, .password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login__form {
    padding: 15px;
}

.code__input, .username__input, .password__input {
    flex-basis: 80%;
}

.btn_login button {
    border: 0;
    padding: 10px 30px;
    color: white;
    background-color: #63b8b8;
    transition: .5s;
}

.btn_login button:hover {
    box-shadow: 3px -3px rgba(99, 184, 184, 0.7), 6px -6px rgba(99, 184, 184, 0.4);
    transition: .5s;
}

.btn_login {
    text-align: center;
    margin: 3% 0 0 0;
}

.login__tform, .login__sform {
    position: absolute;
    width: 100%;
}

.login__tform {
    opacity: 0;
    visibility: hidden;
}

.login__choice .active {
    background-color: #63b8b8;
    color: white;
}

.username {
    margin-bottom: 30px;
}

.error {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #c8e7a1;
    height: 500px;
    display: flex;
    justify-content: center;
}

.error__header {
    font-size: 48px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.error__message {
    font-size: 36px;
}

.error__image {
    position: relative;
    top: -30px
}

.btn_wrap {
    text-align: center;
    margin-top: 20px;
}

.mainHeader {
    width: 100%;
    height: 75px;
    background-color: #7eb14a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0
}

.btnNav__stick {
    margin-bottom: 5px;
    width: 40px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.user__avatar {
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    flex-shrink: 0;
}

.btnNav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
}

.user__name {
    color: white;
}

.nav {
    transition: .3s;
    max-width: 490px;
    position: absolute;
    top: 0;
    left: -200vw;
    width: 50vw;
    height: 100vh;
    background-color: #608d33;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.nav__user {
    padding: 0 30px 30px 30px;
    justify-content: flex-start;
}

.navAvatar {
    width: 128px;
    height: 128px;
}

.navName {
    font-size: 24px;
    margin-left: 30px;
    text-align: center;
}

.nav__close {
    font-size: 32px;
    cursor: pointer;
    width: 50px;
    display: inline-block;
    padding: 8px;
}

.nav__close img {
    width: 100%;
    height: 100%;
}

.nav__body {
    padding: 10px;
    font-size: 36px;
    text-align: center;
    overflow-y: auto;
}

.nav__body ul li {
    padding: 10px;
    margin-bottom: 5px;
}

.list__li a {
    transition: .6s;
    text-decoration: none;
    outline: none;
    color: black;
}

.li_now a {
    color: white;
    border-bottom: 3px solid white;
}

.list__li a:hover {
    transition: .6s;
    color: white;
}

.rowSetting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    min-width: 391px;
}

.nav__user + hr {
    width: 100%;
}

.settings__body {
    margin: 50px auto 0;
    max-width: 1000px;
}

.rowSetting__input {
    flex-basis: 80%;
    border-radius: 0 !important;
    background-color: #b5e1e1 !important;
    flex-shrink: 0;
}

.rowSetting__label {
    flex-basis: 150px;
    flex-shrink: 0;
}

.rowSubmit {
    text-align: center;
}

.btnSave {
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.cardNum {
    display: flex;
    align-items: center;
    flex-basis: 100%;
}

#schoolId {
    flex-basis: 3%;
    width: 75px;
}

#CardId {
    flex-basis: 75%;
    flex-grow: 1;
}

#schoolId + span {
    font-size: 24px;
    flex-basis: 5%;
    text-align: center;
}

.rowFood__dinner, .rowFood__lunch {
    display: flex;
    flex-direction: column;
}

.rowsFoodWrap {
    display: flex;
    justify-content: space-around;
}

.foodBlock__header {
    text-align: center;
    padding: 5px;
    border: 1px solid #9d56c1;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btnBlock__foodBtn {
    padding: 3px;
    border-radius: 50%;
    border: 1px solid black;
}

.btnBlock {
    padding: 5px;
    border: 1px solid #9d56c1;
}

.rowSettingCol {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
}

label[for='CardId'] {
    text-align: center;
}

.rowSubmit {
    margin-top: 10px;
}

.btnBlock__foodBtn[value='active'] {
    transition: .6s;
    background-color: #76b863;
}

.settings__message_active {
    transition: .3s;
    border: 1px solid black;
    background-color: rgba(169, 255, 34, 0.44);
    padding: 15px;
    font-size: 24px;
    margin: 30px auto;
    width: 700px;
    border-radius: 15px;
}

.nav__user {
    width: 100%;
}

.loginMessage {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    border-radius: 20px;
    color: white;
    margin: 10px 0;
}

.student {
    margin: 20px 0;
    width: 100%;
    border: 3px solid black;
    display: flex;
    padding: 15px;
    align-items: center;
}

.student__photo {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    background-color: black;
    margin-right: 10px;
}

.student__buttons {
    flex-basis: 40%;
}

.student__buttons .btns {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.student__name {
    flex-basis: 50%;
}

.buttonStudent {
    padding: 10px;
    margin-left: 10px;
    border: 2px outset black;
    border-radius: 5px;
}

.buttonStudentAccept:hover {
    background-color: #68952f;
}

.buttonStudentAccept {
    background-color: #7eb14a;
}

.buttonStudentCancel:hover {
    background-color: #bf4242;
}

.buttonStudentCancel {
    background-color: #ff5757;
}

.requests, .orders {
    padding: 15px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

.requests__nullRequests {
    text-align: center;
    font-size: 24pt;
    font-family: Roboto, sans-serif;
}

.lunch__header, .dinner__header {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid black;
}

.foodBlock {
    border: 2px solid black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 10px;
}

.lunchDays, .dinnerDays {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

td > .lunchDays, td > .dinnerDays {
    flex-direction: column;
    align-items: center;
}

.lunchDay, .lunchDay_active, .dinnerDay, .dinnerDay_active {
    margin: 1px 5px;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.lunchDay_active, .dinnerDay_active {
    background-color: #76b863;
}

.studentFood {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.UserTable {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.UserTable tr {
    border: 1px solid black;
}

.UserTable td {
    border: 1px solid black;
    padding: 10px;
}

.settings__body a {
    display: block;
    margin-bottom: 10px;
}

a.btn:hover {
    transition: .3s;
    transform: scaleX(1.1) scaleY(1.1);
}

a.btn {
    text-decoration: none;
}

.setting {
    padding: 30px;
}

.rowSetting__input > input {
    border: inherit;
    width: 80%;
    background-color: inherit;
}

.rowSetting + .btn {
    display: block;
    margin: 0 auto;
}

.StudentChoose {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.pageName {
    text-align: center;
    padding: 10px;
    font-size: 18pt;
}

.login {
    background-color: #7eb14a;
    padding: 20px;
    position: static;
}

.login form input {
    margin-bottom: 20px;
}

.errorlist {
    color: red;
    list-style-type: none;
    margin-bottom: 10px;
}

.FlexLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.list {
    list-style-type: none;
}

.errorlist {
    margin: 5px 0;
}

.balance {
    padding: 50px;
}

#NumberCard {
    margin: 10px 0;
    width: 300px;
}

.refreshInfo {
    cursor: pointer;
    transition: .3s;
    transform: rotateZ(0);
}

.refreshInfo:hover {
    transition: .6s;
    transform: rotateZ(360deg);
}

.wrapBalance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}

.balance__info {
    width: 100%;
    max-width: 800px;
    font-size: 24pt;
    text-align: center;
    margin: 20px auto;
}

.residue span {
    background: #ffeeab;
    padding: 5px;
}

.type_balance .residue {
    font-size: 18px;
    margin-top: 15px;
}

.type_balance .name span {
    color: #9aa8b2;
    font-size: 13px;
}

.type_balance {
    margin-bottom: 20px;
}

.time__lastTime {
    display: none;
    visibility: hidden;
}

.user__avatar img {
    border-radius: 50%;
}

.success_message {
    visibility: hidden;
    display: none;
    transition: all 0.6s ease 0s;
    margin: 0 auto 20px auto;
    width: 30%;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: yellowgreen;
    color: white;
    font-size: 24pt;
    text-align: center;
}

.settingCard {
    width: 150px;
    border-radius: 30px;
    background-color: #a600ff;
    color: white;
    padding: 15px;
    text-align: center;
}

.settingCard__head {
    font-size: 18pt;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingCard__body {
    height: 70px;
    margin: 10px 0;
}

.settingCard__footer a {
    font-size: 14pt;
    color: white;
    text-decoration: none;
    background-color: #e53d3d;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid #e53d3d;
    transition: .3s;
}

.settingCard__footer a:hover {
    background-color: inherit;
    transition: .3s;
}

.settingCard__body img {
    transition: .3s;
    filter: blur(3px);
}

.settingCard:hover .settingCard__body img {
    transition: .3s;
    filter: blur(0) !important;
}

.settings__body {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around;
}

.privateCard {
    background-color: #0037ff;
}

.foodCard {
    background-color: #ff5e00;
}

.balanceBody__cardNum {
    opacity: .6;
    text-align: right;
    font-size: 12pt;
}

.balanceBody__cardNum {
    margin: 30px 20px 30px 0;
}

.balanceFood {
    text-align: left;
    margin: 42px 0;
    font-size: 18pt;
}

.balanceInfo__lastTimeRefresh {
    text-align: left;
    margin: 20px 0 0 0;
    font-size: 12pt;
    opacity: .8;
}

.balanceInfo__header {
    margin-bottom: 10px;
}

.kickModalWindow {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70vw;
    height: 70vh;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.kickModalWindow__body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBody__image img {
    width: 100%;
}

.modalBody__image {
    flex-basis: 50%;
}

.modalHead {
    font-size: 24pt;
    margin-bottom: 20px;
}

.modalBody__text {
    font-size: 16pt;
    flex-basis: 50%;
}

.modalBody__text div {
    margin-top: 20px;
}

.modalBody__text div a:hover {
    text-decoration: none;
}

.userOrder {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 2px solid #48c4d1;
    background-color: #2fb9b2;
    padding: 15px;
    overflow: hidden;
}

.extra {
    display: flex;
    align-items: center;
}

.userOrder__name {
    flex-basis: 100%;
    text-align: left;
    color: white;
    font-size: 18pt;
    margin-right: 10px;
}

.extra {
    position: relative;
    right: -200px;
    transition: .3s;
}

.extra__btns {
    width: 100px;
}

.userOrder:hover .extra {
    right: 0;
    transition: .3s;
}

.extra_button {
    padding: 5px 10px;
}

.count {
    font-size: 18pt;
    text-align: left;
}

.count div {
    margin-bottom: 15px
}

.extra__data_hidden {
    visibility: hidden;
    display: none
}

.cardInfo {
    font-size: 18pt;
    text-align: left;
}

.checkFood__header {
    margin: 20px 0 10px 0;
    font-size: 24pt;
}

.cardInfo__cardNum {
    margin: 20px 0;
}

.section_body__menu {
    font-size: 18pt;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .3s;
    color: white;
    text-align: left;
    padding: 20px 30px;
}

.section_body__menu ul {
    list-style: disc;
}

.section_body__menu ul li {
    margin-bottom: 15px;
}

.cardInfo__header {
    text-align: center;
    font-size: 32px;
    margin: 20px 0 10px 0;
}