<div class="mainHeader">
    <div class="header__btnNav btnNav" onclick="viewNav()">
        <div class="btnNav__stick"></div>
        <div class="btnNav__stick"></div>
        <div class="btnNav__stick"></div>
    </div>
    <div class="navUser">
        <div class="navUser__data user">
            <div class="user__name">
                {% if user.first_name and user.last_name %}
                {{ user.first_name.capitalize }} {{ user.last_name.capitalize.0 }}
                {% else %}
                {{ user.username }}
                {% endif %}
            </div>
            <div class="user__avatar">
                {% if user.is_teacher %}
                <img src="" alt="" id="ateacher">
                {% else %}
                <img src="" alt="" id="nt">
                {% endif %}
            </div>
        </div>
    </div>
</div>