{% load static %}
<div class="nav">
    <div class="nav__close" onclick="closeNav()">
        ←
    </div>
    <div class="nav__user user">
        <div class="user__avatar navAvatar">
            {% if is_teacher %}
            <img src="{% static 'images/teacher.png' %}" width="128px">
            {% else %}
            <img src="{% static 'images/user.png' %}" width="128px">
            {% endif %}
        </div>
        <div class="user__name navName">
            {% if user.first_name and user.last_name %}
                {{ user.first_name.capitalize }} {{ user.last_name.capitalize }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="nav__body">
        <ul class="list">
            <li class="list__li"><a href="{% url 'settings' %}">Настройки</a></li>
            <li class="list__li"><a href="{% url 'menu' %}">Меню</a></li>
            <li class="list__li"><a href="{% url 'balance' %}">Баланс</a></li>
            {% if is_teacher %}
                <li class="list__li"><a href="{% url 'RequestsStudents' %}">Заявки</a></li>
                <li class="list__li"><a href="{% url 'orders' %}">Заказы</a></li>
            {% endif %}
            <li class="list__li"><a href="{% url 'logout' %}">Выйти</a></li>
        </ul>
    </div>
</div>