{% load static %}
<div class="nav">
    <div class="nav__close" onclick="closeNav()">
        ←
    </div>
    <div class="nav__user user">
        <div class="user__avatar navAvatar">

        </div>
        <div class="user__name navName">
            {{ user.name.capitalize }} {{ user.last_name.capitalize }}
        </div>
    </div>
    <hr>
    <div class="nav__body">
        <ul class="">
            <li class="list__li"><a href="{% url 'main' %}">Заказы</a></li>
            <li class="list__li"><a href="{% url 'settings' %}">Настройки</a></li>
            <li class="list__li"><a href="{% url 'menu' %}">Меню</a></li>
        </ul>
    </div>
</div>