<html lang="ru-ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" type="text/css">
    <title>О проекте</title>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body onload="setInterval(f, 9000); setInterval(animateRoad, 100);">
<header class="header">
    <div class="wrap">
        <h1 class="valve">Электронная Столовая</h1>
    </div>
</header>
<div class="wrap_login">
    <div class="close"></div>
    <div class="login">
        <div class="login__choice">
            <div id="teacher" onclick="replaceBlock(this)">
                Учитель
            </div>
            <div id="student" class="active" onclick="replaceBlock(this)">
                Для всех
            </div>
        </div>
        <div class="login__sform login__form">
            <div class="username">
                <label for="username__input">Логин:</label>
                <input type="text" class="username__input" id="username__input">
            </div>
            <div class="password">
                <label for="password__input">Пароль:</label>
                <input type="password" class="password__input" id="password__input">
            </div>
            <div class="loginMessage">

            </div>
            <div class="btn_login">
                <button type="submit" class="btn_student" onclick="login()">Войти</button>
            </div>
        </div>
        <div class="login__tform login__form">
            <div class="code">
                <label for="code__input">Код учителя:</label>
                <input type="text" class="code__input" id="code__input">
            </div>
            <div class="loginMessage">

            </div>
            <div class="btn_login">
                <button type="submit" class="btn_teacher" onclick="login()">Войти</button>
            </div>
        </div>
    </div>
</div>
<section>
    <div id="road"></div>
    <div class="table">
        <div class="top"></div>
    </div>
    <hr class="small_hr">
    <div class="hello_text">
        <h2>Надоели проблемы со столовой?<br></h2><strong>Мы их решим!</strong>
    </div>
    <div class="auth_block">
        <button class="btn auth_btn" onclick="ModalLogin()">Войти</button>
        <button class="btn reg_btn" onclick="viewRegForm()">Зарегистрироваться</button>
    </div>
</section>
<section class="registration">
    <div class="form_reg">
        {% csrf_token %}
        <div class="form_reg__header">
            Регистрация
        </div>
        <div class="demarcation">
            <img src="/static/images/demarcation.svg" alt="demarcation">
        </div>
        <div class="form_reg__body">
            <div class="full_name">
                <input type="text" name="first_name" placeholder="Имя" required="" id="id_first_name">
                <input type="text" name="last_name" placeholder="Фамилия" required="" id="id_last_name">
            </div>
            <input type="text" name="email" placeholder="Email" required="" id="id_email">
            <input type="text" name="username" placeholder="Логин" autofocus="" required="" id="id_username">
            <input type="password" name="password1" placeholder="Пароль" required="" id="id_password1">
            <input type="password" name="password2" placeholder="Подтвердите пароль" required="" id="id_password2">
            <label for="id_select_class">Выберите класс: </label>
            <select id="id_select_class">
                <option></option>
                {% for c in select %}
                <option>{{c.name_class}}</option>
                {% endfor %}
            </select>
            <div class="error_messages"></div>
        </div>
        <div class="demarcation180">
            <img src="/static/images/demarcation.svg" alt="">
        </div>
        <button class="btn form_reg__footer" onclick="add_new_user()">Завершить регистрацию</button>
    </div>
</section>
</body>
</html>