{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="flex_block">
    <section class="breakfast card_section">
        <div class="section_head">
            <h2>Завтрак</h2>
        </div>
        <div class="section_body">
            <div class="section_body__text">
                Меню завтрака
            </div>
            <div class="section_body__image">
                <img src="{% static 'images/chicken.svg' %}" alt="chicken">
            </div>
        </div>
        <div class="section_footer">
            <button class="btn">Посмотреть</button>
        </div>
    </section>
    <section class="lunch card_section">
        <div class="section_head">
            <h2>Обед</h2>
        </div>
        <div class="section_body">
            <div class="section_body__text">
                Меню обеда
            </div>
            <div class="section_body__image">
                <img src="{% static 'images/soup.svg' %}" alt="soup">
            </div>
        </div>
        <div class="section_footer">
            <button class="btn">Посмотреть</button>
        </div>
    </section>
    <section class="other card_section">
        <div class="section_head">
            <h2>Меню столовой</h2>
        </div>
        <div class="section_body">
            <div class="section_body__text">
                Меню столовой
            </div>
            <div class="section_body__image">
                <img src="{% static 'images/dict.svg' %}" alt="dict">
            </div>
        </div>
        <div class="section_footer">
            <button class="btn" onclick="load(get_menu, document.getElementsByClassName('modal_body')[0])">Посмотреть</button>
        </div>
    </section>
</main>
{% endblock %}
