{% extends 'base.html' %}
{% block title %}
{{ block.super }} :: Заказы
{% endblock %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block nav %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="orders">
    {% csrf_token %}
    <div class="orders__count count">
        <div class="count__lunch">
            Количество завтраков: {{ lunch_count }}
        </div>
        <div class="count__dinner">
            Количество обедов: <span>{{ dinner_count }}</span>
        </div>
    </div>
    {% for order in orders %}

    {% if order.user == user %}

    {% else %}
    <div class="userOrder">
        <div class="userOrder__name">
            {{ order.user.get_full_name }}
        </div>
        <div class="userOrder__extra extra">
            <div class="extra__data_hidden extraData">
                <div class="extraData__userID">
                    {{ order.user.pk }}
                </div>
            </div>
            <div class="extra__more">
                <button class="extra_button" onclick="showMoreInfo(this)">Подробнее</button>
            </div>
            <div class="extra__btns">
                <button class="buttonStudent buttonStudentCancel" onclick="kickUser(this, {{ order.user.id }})">&#10006;</button>
            </div>
        </div>
    </div>
    {% endif %}

    {% endfor %}
</div>
{% endblock %}