{% extends 'base.html' %}
{% block title %}
{{ block.super }} :: Заказы
{% endblock %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block nav %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="orders">
    <table class="UserTable">
        <tr>
            <td class="tr__FirstName">Имя</td>
            <td class="tr__LastName">Фамилия</td>
            <td>Завтраки</td>
            <td>Обеды</td>
            {% for order in orders %}
        </tr>
        <td class="tr__FirstName">
            {% if order.user.first_name %}
            {{ order.user.first_name.capitalize }}
            {% else %}
            {{ order.user.username }}
            {% endif %}
        </td>
        <td class="tr__LastName">
            {{ order.user.last_name.capitalize }}
        </td>
        <td class="tr__Lunch">
            <div class="lunchDays">
                {% for day, value in order.lunch_days.items %}
                {% if value %}
                <div class="lunchDay_active">{{ day }}</div>
                {% else %}
                <div class="lunchDay">{{ day }}</div>
                {% endif %}
                {% endfor %}
            </div>
        </td>
        <td class="tr__Dinner">
            <div class="dinnerDays">
                {% for day, value in order.dinner_days.items %}
                {% if value %}
                <div class="dinnerDay_active">{{ day }}</div>
                {% else %}
                <div class="dinnerDay">{{ day }}</div>
                {% endif %}
                {% endfor %}
            </div>
        </td>
        {% endfor %}
        <tr>
            <td colspan="2">
                Количество сегодня
            </td>
            <td>
                {{  lunch_count  }}
            </td>
            <td>
                {{ dinner_count }}
            </td>
        </tr>
    </table>
</div>
{% endblock %}