{% extends 'base.html' %}
{% block header %}{{ block.super }}{% endblock %}
{% block nav %}{{ block.super }}{% endblock %}
{% block content %}
<div class="settings">
    <div class="settings__message">

    </div>
    <div class="settings__body">
        <a href="{% url 'ChangePassword' user.id %}">Изменить пароль</a>
        <a href="{% url 'ChangeUserInformation' user.id %}">Изменить личные данные</a>
        <a href="{% url 'ChangeFoodMenu' %}">Изменить Завтраки и обеды</a>
    </div>
</div>
{% endblock %}